### Python Fundamentals 1 Code book...

This is my code walking through python fundementals 1 for theSpring 2018 data boot camp course.

#### Simple Calculations

Literally the "bread and butter" of scientific computation...let's get started:

In [4]:
test = 2*3 # simple multiplication
print(test)

test = 2 * 3 # add some white space, nice feature of python is that it is not sensitve to this..
print(test)

test = 2  *  3 # add some more...
print(test)

# What about division...
test = 2/3
print(test)

6
6
6
0.6666666666666666

In [5]:
test = 2^3 # This is what you would do in excel (matlab too)
print(test)
print("is this a 8???")

test = 2**3 # Now what happens...
print(test)
print("is this a 8???")

1
is this a 8???
8
is this a 8???

In [6]:
test = log(3) # what do you think will happen here...note in spyder it is given
              # a alert, this is telling you that there is a problem...log is not defined
print(test)

NameError: name 'log' is not defined

Note how the compute just stopped. It did not compute. Remember, python and the computer are DUMB! You gave it an instruction that it did not know what to do, so it stopped, and did not proceed. A couple of points about this:

* The top to bottom (within a code cell), simply following instructions/commands nature of a program.

* When you run this, note how (after some stuff) tells you where the problem is: Line 36, then this name log is not defined.

In [7]:
test = 4**2 # Now what happens...
print(test)
print("is this a 8???")

16
is this a 8???

Above I've been assigning variables... but lets look at this more closely...

In [8]:
x = 2

Nice so the thing on the left is the "variable" named "x", then the thing on the right is the value that this variable is assigned... then the = sign is the operator that assighns that value.

In [9]:
print(x)

y = 3 # lets do it again...
print(y)

2
3

Now we are getting somewhere, we take these variables and perform an operation. Notice that (like excel) the value assigned to z will change as we change the values assigned to x or y. But there is a difference with excel...what is it?

In [10]:
z = x/y 

print(z)

0.6666666666666666

Here is a place where you might want to figure out what variables there are within the enviornment. For example, what is `x`  (the type and size ignore for now) and then the value...how do you do this, with the `whos` command, which will provide this information.

In [11]:
whos

Variable   Type     Data/Info
-----------------------------
test       int      16
x          int      2
y          int      3
z          float    0.6666666666666666

This is a nice feature in that it is a way for you to always understand what variables are in your environment at any point in time, their type, etc.

**Exercise.** Type `w = 7` in a cell.  In the same cell, next line below, type `w = w + 2`. In the next line below type `w` (so we can see the output). What does this code do?  Why is this not a violation of basic mathematics?

In [12]:
w = 7
w = w + 2
w

9

**Exercise.** In another code cell type `w = w + 2` and then `w` below it (again so we can see the output). Evaluate this cell once. Do it again. Do it again. What is going on here?

In [13]:
w = w + 2
w

11

**Exercise.**  Suppose we borrow 200 for one year at an interest rate of 5 percent.  If we pay interest plus principal at the end of the year, what is our total payment?  Compute this using the variables `principal = 200` and `i = 0.05`.

In [14]:
loan = 200 # Note, I like to make variable names, short, but informative
interest = 0.05 # Same thing, be mindfull not to name your varible the same as an operation(?)

total_payment = loan*(1+interest)

print(total_payment)

210.0

**Exercise.** Real GDP in the US (the total value of things produced) was 15.58 trillion in 2013 and 15.96 trillion in 2014.  What was the growth rate?  Express it as an annual percentage.

In [15]:
gdp_2013 = 15.58
gdp_2014 = 15.96

gdp_growth = 100*((gdp_2014/gdp_2013) - 1)

print("GDP Growth in Percent", gdp_growth)

GDP Growth in Percent 2.4390243902439046

Very nice, again note the naming convention, things are short, but informative so if your friend looked at the code he would understand what you are doing.

**Exercise (challenging).**  Suppose we have two variables, `x` and `y`.  How would you switch their values, so that `x` takes on `y`'s value and `y` takes on `x`'s?

First, let me show you a simple, but "naive" approach

In [16]:
print(x,y)
temp = x
x = y
y = temp
print(x,y)

2 3
3 2

Now here is a more sophisticated approach...

In [17]:
x = 2 # First reset things, so x = 2, y = 3
y = 3

x,y = y,x
print(x,y)

3 2

This is cool...there is a [stackoverflow discussion](https://stackoverflow.com/questions/14836228/is-there-a-standardized-method-to-swap-two-variables-in-python) about this. It explains this that Python creates a tuple (**mtwn**) out of the stuff on the right-hand side (y,x) and then will take this tuple and assign it to a new tuple (x,y) all in the background. Another point that this brings up is the evaluation order so as the documentation says...
(1) When assigning something (=) it starts on the right-hand side (2) where ever it starts, it works left to right

**Exercise (challenging).**  Type `x = 6` in a cell.  We've reassigned `x` so that its value is now 6, not 2. If we type and submit `z`, we see

```
In [10]: z
Out[10]: .6666666666
```

But wait, if `z` is supposed to be `x/y`, and `x` now equals 6, then shouldn't `z` be 2? What do you think is going on?

In [18]:
x = 6
z

0.6666666666666666

The bottom line is that z will not change unless evaluated again (this is unlike excel where connected cells automatically update). This gives us a lot of **explicit control** over the operations on variables...this has benefits but must also be mindful of what is going on, like quote from spider man ``with great powers, comes great responsibility"

### Printing Stuff

I've been using this a lot already. It's important in the sense that if we don't tell the computer to report or "print" the results, then generally we will not see it. 

First, lets practice using the help command by `print?`

In [19]:
print?

So a window should pop up showing things that (i) values must be seperated by commas, when it is printed how to seperate them, what to do at the end, etc.

In [20]:
print(x, y, sep='---')

6---2

In [21]:
print(x,y, end='\n \n \n \n \n')

6 2

Notice all the white space, this is what the character `\n` does, it stands for a return or jump to the next line.

### Strings

Strings...this is where I think python is VERY POWERFULL...lots of enviorenments can do numerical calculations, plotting well, but handling and manipulating strings is less common...

* Lesson 1: A string is a collection of characters between quotation marks

* Lesson 2: A string may look like a number, but it is not. '12'/3 this is not going to work as "12" is a string, python does not see it as a number, and then it is being asked to perform a numerical computation on something that is not a number, thus an error message.

In [22]:
a = "some"
b = "thing"
c = a + b # this is awesome....so natural and intuitive... suppose you tried
            # this in excel?? what would happen.
print(c)

something

In [24]:
# Back to print, we can do some cool things with this...
print("the value of z is", z)

# or even do something like this
message = "the value of z is"
print(message, z)

the value of z is 0.6666666666666666
the value of z is 0.6666666666666666

**Exercise.** What happens if we run the statement: 'Chase'/2? Why?

**Exercise.** This one's a little harder. Assign your first name as a string to the variable firstname and your last name to the variable lastname.  Use them to construct a new variable equal to your first name, a space, then your last name. Hint: Think about how you would express a space as a string.

In [25]:
first_name = "Michael"
last_name = "Waugh"
space = " "

full_name = first_name + space + last_name
print(full_name)
# Note how python interperts this space in " " it is implicitly a character, just
# and empty space...

Michael Waugh

**Exercise.** Set s = 'string'. What is s + s? 2*s? s*2? What is the logic here?

In [26]:
s = 'string'
print(s+s)
print(2*s)
print(s*2)
print(s + full_name*2)

stringstring
stringstring
stringstring
stringMichael WaughMichael Waugh

### Quotation Marks

Here is the thing, you'll notice that sometimes I use single quotation, double quotation marks...
* First, both are valid ways to define a string. The real issue is my inconsistent use partly this is a problem within the NYU databoot camp team...I actually prefer double.
* Second, the fact that both are valid is not an accident, in fact, double quotation marks and even **triple** quotation marks play an important roles.

In [30]:
a = 'string'
b = "string"
print(a,b) # We should see the same thing....

# This is one instance where double helps...
message = "I don't know what I'm doing"
print(message)

string string
I don't know what I'm doing

**Note** how in the last line of code I can use the apostrophe. This is the value added of double quotation marks in that it can handle more complicated punctuation within the quoation marks. 
Now what about this...

In [28]:
longstring = """
Four score and seven years ago
Our fathers brought forth. """

print(longstring)

Four score and seven years ago
Our fathers brought forth.

Here triple quotation marks allow us to have multiple lines...

**Exercise.** In the Four score etc code, replace the triple double quotes with 
triple single quotes. What happens?

**Exercise.** Fix this code:

In [31]:
bad_string = 'Sarah's code'

print(bad_string)

SyntaxError: invalid syntax (<ipython-input-31-bb26c8268e37>, line 1)

**Exercise.** Which of these are strings? Which are not?
apple NOT
* "orange" 
* 'lemon84'
* "1" 
* string 
* 4 
* 15.6 
* '32.5'

**Remember: A string is a collection of characters between quotation marks**

### Lists