In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/mwaugh0328/Data_Bootcamp_Fall_2017/master/data_bootcamp_1106/orders_dirty.csv"
#path = "C://data_bootcamp//Data_Bootcamp_Fall_2017//data_bootcamp_1106//orders_dirty.csv"
# Double forward slashes for windows machines.

chp = pd.read_csv(url)  

print("Variable dtypes:\n", chp.dtypes, sep='')
# Lets checkout the datatypes that we have... are they what you expect?

chp.head(10)

Variable dtypes:
order store id 1        object
quantity 2               int64
item name 3             object
choice description 4    object
item price 5            object
dtype: object

,order store id 1,quantity 2,item name 3,choice description 4,item price 5
0,1 Bucks County,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1 Bucks County,1,Izze,[Clementine],$3.39
2,1 Bucks County,1,Nantucket Nectar,[Apple],$3.39
3,1 Bucks County,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2 Bucks County,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3 Bucks County,1,Side of Chips,NaN,$1.69
7,4 Bucks County,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4 Bucks County,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5 Bucks County,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chp.shape

(4622, 5)

In [6]:
chp = pd.read_csv(url, nrows = 500)

In [7]:
chp.shape

(500, 5)

In [8]:
chp.head()

,order store id 1,quantity 2,item name 3,choice description 4,item price 5
0,1 Bucks County,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1 Bucks County,1,Izze,[Clementine],$3.39
2,1 Bucks County,1,Nantucket Nectar,[Apple],$3.39
3,1 Bucks County,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2 Bucks County,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [12]:
test = "order store id 1"

test.rsplit(maxsplit=1)[0].replace(" ","_")

'order_store_id'

In [19]:
new_list = []

for var in chp.columns:
    new_list.append(var.rsplit(maxsplit=1)[0].replace(" ","_"))
                    
print(new_list)

['order_store_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [20]:
chp.columns = new_list

In [21]:
chp.head()

,order_store_id,quantity,item_name,choice_description,item_price
0,1 Bucks County,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1 Bucks County,1,Izze,[Clementine],$3.39
2,1 Bucks County,1,Nantucket Nectar,[Apple],$3.39
3,1 Bucks County,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2 Bucks County,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [26]:

chp[chp.order_store_id == "205 Bucks County"]

,order_store_id,quantity,item_name,choice_description,item_price
478,205 Bucks County,1,Carnitas Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
479,205 Bucks County,1,Veggie Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.25
480,205 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
481,205 Bucks County,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
482,205 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
483,205 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.25
484,205 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
485,205 Bucks County,1,Barbacoa Crispy Tacos,"[Fresh Tomato Salsa, Guacamole]",$11.75
486,205 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, Cheese]",$8.75
487,205 Bucks County,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
488,205 Bucks County,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
489,205 Bucks County,1,Chips,NaN,$2.15

In [33]:
test = "1 Bucks County"

test.rsplit()[0]

'1'

In [55]:
chp.order_store_id = chp.order_store_id.str.rsplit().str[0]

In [92]:
chp.order_store_id = chp.order_store_id.astype("int64")

chp.dtypes

order_store_id          int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [70]:
chp.head()

,order_store_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [72]:
test = "$1.25"

test.replace("$","")

'1.25'

In [75]:
chp.item_price = chp.item_price.str.replace("$","")

In [76]:
chp.head()

,order_store_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [77]:
chp.dtypes

order_store_id         int32
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [79]:
chp.item_price.value_counts()

8.75         57
8.99         48
11.25        46
9.25         42
8.49         42
4.45         40
11.75        29
1.09         26
2.39         18
2.15         18
2.95         17
1.25         14
10.98        14
3.39         13
1.69         13
3.99         11
17.50         9
11.48         8
gift card     8
2.18          6
6.49          5
1.50          3
22.50         2
22.16         1
16.98         1
4.30          1
5.90          1
22.20         1
23.78         1
32.94         1
10.58         1
11.08         1
17.98         1
2.50          1
Name: item_price, dtype: int64

In [84]:
chp.item_price.replace(to_replace = ["gift card"], value = np.nan, inplace = True)

In [87]:
chp.item_price = chp.item_price.astype("float")

In [91]:
chp.dtypes

order_store_id          int32
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object