## Intro to pandas

What is pandas??? "pan"nel "da"ta "s"tructures. Powerfull, intuitive, data analysis
tool. This package convinced me to learn and start to use python as a research tool
Developed at [AQR](https://www.aqr.com/) (a quantative hedgfund) by [Wes Mckinney](http://wesmckinney.com). They made it open source
and quickly expanded developed and became widely used. 


First we need to import the pandas package...very simmilar to when we imported
our functions, but this is a MUCH larger. Further more, this is what makes pandas
a higher-level addon to python. That is at a lower level the objects, methods, functions...
are already created for us, then when we import pandas they are ready to go.

In [1]:
import pandas as pd

This says import the package pandas then the "as pd" says call it pd (our alias)
this just simplifies our life without having to always be typing pandas, we just
type `pd`. IF your lost on this, go back to our chapter on [importing packages](https://nyudatabootcamp.gitbooks.io/data-bootcamp/content/packages.html)

Lets first create some data...

In [2]:
data = {"GDP": [5974.7, 10031.0, 14681.1],
                   "CPI": [127.5, 169.3, 217.488],
                   "Year": [1990, 2000, 2010],
                   "Country": ["US", "US", "US"]}
# what kind of data structure is this

print(type(data))

<class 'dict'>

It should tells us that it is a dictionary, with keys and values (which are lists). How do we get those?

Now we are going to convert the type of data to a "DataFrame" this is the key oject within pandas. (If familiar with R this is simmilar to their dataframe)

In [3]:
df = pd.DataFrame(data)

In [4]:
print("\n", type(df))

# Now lets see how cool this is, return to the original data and lets look at it
print(data)

 <class 'pandas.core.frame.DataFrame'>
{'CPI': [127.5, 169.3, 217.488], 'GDP': [5974.7, 10031.0, 14681.1], 'Country': ['US', 'US', 'US'], 'Year': [1990, 2000, 2010]}

In [5]:
data

{'CPI': [127.5, 169.3, 217.488],
 'Country': ['US', 'US', 'US'],
 'GDP': [5974.7, 10031.0, 14681.1],
 'Year': [1990, 2000, 2010]}

In [6]:
df

       CPI Country      GDP  Year
0  127.500      US   5974.7  1990
1  169.300      US  10031.0  2000
2  217.488      US  14681.1  2010

This lays out the data in a very intuitive way, columns defined by the keys...
values as rows...literally like an excel file. Amazing. You may be thinking...
so what, well there is a reason why excel is popular, it is natural for people
do think about data in a table like formate, a dataframe is always going to 
present this in this intuitive, natural way. This is also important because it
helps us visualize and then implement calculations, operations, on the table. 
Where as this could be very hard to do in the data variable above.

In python remember the datafame is an object and with that object comes methods and attributes (we have seen less attributes, but lots of methods)

In [7]:
print(df.shape) 
# Note that this is an attribute not a method as the method 
# takes in arguments through () where as this just asks what is the shape of df

(3, 4)

In [8]:
print(df.columns) # which returns an object...but we can get it to a list.
print(df.columns.tolist())

Index(['CPI', 'Country', 'GDP', 'Year'], dtype='object')
['CPI', 'Country', 'GDP', 'Year']

In [9]:
print(df.index) # which is like a range type, but within pandas...
print(df.index.tolist())

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [10]:
print(df.dtypes) # this is an attribute on the dataframe, simmilar to type

CPI        float64
Country     object
GDP        float64
Year         int64
dtype: object

So this is interesting, for the numerical values it says that they are flaoting
point vlaues, that is great. For the names, strings, it says that they are objects
NOT stings? Pandas does this (i) if all the data in a column is a number, then 
it is recognized as a number (ii) if not, then it is just going to be an object

**Exercises** Consider the following data below:

In [31]:
pwt_data = {'countrycode': ['CHN', 'CHN', 'CHN', 'FRA', 'FRA', 'FRA'],
        'pop': [1124.8, 1246.8, 1318.2, 58.2, 60.8, 64.7],
        'rgdpe': [2.611, 4.951, 11.106, 1.294, 1.753, 2.032],
        'year': [1990, 2000, 2010, 1990, 2000, 2010]}

pwt = pd.DataFrame(pwt_data)

* What are the dimensions of pwt?
* What dtypes are the variables? What do they mean?
* What does pwt.columns.tolist() do? How does it compare to list(pwt)?
* Challenging. What is list(pwt)[0]? Why? What type is it?
* Challenging. What would you say is the natural index? How would you set it?

In [50]:
pwt.set_index(["countrycode","year"]).xs(2000, level = "year")

                pop  rgdpe
countrycode
CHN          1246.8  4.951
FRA            60.8  1.753

In [31]:
pwt

  countrycode     pop   rgdpe  year
0         CHN  1124.8   2.611  1990
1         CHN  1246.8   4.951  2000
2         CHN  1318.2  11.106  2010
3         FRA    58.2   1.294  1990
4         FRA    60.8   1.753  2000
5         FRA    64.7   2.032  2010

### Calculations on a dataframe...

Below are a bunch of calculations.

In [32]:
print(type(df["GDP"]))

# then it is easy to do optionation on a series...


print(df["GDP"] + df["GDP"])

print(df["GDP"] / df["CPI"]) # This would be real gdp

print(100*df["GDP"] / df["GDP"][0]) # what is this doing...if you remeber from EGB
# This is a way to index GDP by the first entry...

# Then it is super easy to create a new column based on an operation or existing
# columns, almost excel like...

df['RGDP'] = df['GDP']/df['CPI']

df['GDP_div_1000'] = df['GDP'] / 1000

print("\n",df) # so there is a new column called real gdp now...

# See the digressioini n the book....I don't mind doing this...

print("\n",df.RGDP)

<class 'pandas.core.series.Series'>
0    11949.4
1    20062.0
2    29362.2
Name: GDP, dtype: float64
0    46.860392
1    59.249852
2    67.503035
dtype: float64
0    100.000000
1    167.891275
2    245.721124
Name: GDP, dtype: float64

        CPI Country      GDP  Year       RGDP  GDP_div_1000
0  127.500      US   5974.7  1990  46.860392        5.9747
1  169.300      US  10031.0  2000  59.249852       10.0310
2  217.488      US  14681.1  2010  67.503035       14.6811

 0    46.860392
1    59.249852
2    67.503035
Name: RGDP, dtype: float64

In [33]:
df

       CPI Country      GDP  Year       RGDP  GDP_div_1000
0  127.500      US   5974.7  1990  46.860392        5.9747
1  169.300      US  10031.0  2000  59.249852       10.0310
2  217.488      US  14681.1  2010  67.503035       14.6811

In [37]:
df[["CPI","GDP"]]

       CPI      GDP
0  127.500   5974.7
1  169.300  10031.0
2  217.488  14681.1

In [40]:
df.columns = ["cpi", "country", "gdp", "year", "rgdp", "gdp_div_1000"]
# What if the elelments here were less than the number of columns?

df.columns = [var.upper() for var in df.columns]
# HEre we can use list comprehension to change the neames in columns in the way
# we want...

df = df.rename(columns = {"GDP":"NGDP"})
# Another way to rename specific instances... not that if we did not have the df
# in front, nothing would fundementally change, it would just copy and print out
# the new one, but the saved df is the same...

namelist = ["NGDP","CPI"]

print("\n",df[namelist])

# Here are some ways to drop stuff, its worth doing df.drop?

df.drop("CPI", axis = 1)

       NGDP      CPI
0   5974.7  127.500
1  10031.0  169.300
2  14681.1  217.488

  COUNTRY     NGDP  YEAR       RGDP  GDP_DIV_1000
0      US   5974.7  1990  46.860392        5.9747
1      US  10031.0  2000  59.249852       10.0310
2      US  14681.1  2010  67.503035       14.6811

In [41]:
df

       CPI COUNTRY     NGDP  YEAR       RGDP  GDP_DIV_1000
0  127.500      US   5974.7  1990  46.860392        5.9747
1  169.300      US  10031.0  2000  59.249852       10.0310
2  217.488      US  14681.1  2010  67.503035       14.6811

In [45]:
# The key thing to recognize is the axis, this is saying drop a column named "CPI"
# if you did this with out the axis it would give an error, why the defalut is 
# axis = 0 which are rows...and there is no index named "CPI"

df.drop(2, axis = 0)
# This will drop the index 2, row number 3 from the dataframe...
# Here is another way to see this...

pwt = pwt.set_index(['year'])

pwt.drop(2000) # set theindex to the year, then drop all the observations for 2000

KeyError: 'year'

In [46]:
pwt

     countrycode     pop   rgdpe
year
1990         CHN  1124.8   2.611
2000         CHN  1246.8   4.951
2010         CHN  1318.2  11.106
1990         FRA    58.2   1.294
2000         FRA    60.8   1.753
2010         FRA    64.7   2.032