## Python Fundamentals 2

**Great Work!** We have made it this far...we know some basic calculations, types, data structures (lists, tuples, strings), methods and attributes associated with objects, we also know how to get help `?` and `tab` completion. Finally, we should be getting comfortable with the notebook and markdown.

Where are we going know...we will look at one more data structure (this will help us practice too), then get into some key operations: Comparisons, IF then conditional operations, For loops.

### Dictionaries

Dictionaries are (unordered) pairs of things defined by curly brackets {}, separated by commas, with the items in each pair separated by colon. I actually use them a fair amount of time for several reasons: One they are great for creating (small) table like datasets that can be converted to a DataFrame. Second, they are great for converting some value in your data. In one example, I had a dataset that had education catagorized by a string like `["primary", "secondary"]` and I wanted to covert it into years of schooling. So I used a dictionary that mapped the words into years. 

For example, here is a list of first and last names:

In [11]:
names = {'Dave': 'Backus', 'Chase': 'Coleman', 'Spencer': 'Lyon', 'Glenn': 'Okun'}

In [12]:
print(names)

{'Chase': 'Coleman', 'Glenn': 'Okun', 'Spencer': 'Lyon', 'Dave': 'Backus'}

In [13]:
names["Dave"]

'Backus'

What about this...

In [14]:
names["Backus"]

KeyError: 'Backus'

What happend here... we can't go from values to keys with a dictionary. The main idea is a dictionary is a one-to-many data structure. That means we must have unique keys (this is the one part)...but different keys can have the same value (this is the many part). This implies that going backwards from values to keys is not possible.

**Exercise.** Print names. Does it come out in the same order we typed it?

**Exercise.** Construct a dictionary whose keys are the integers 1, 2, and 3 and whose values are the same numbers as words: one, two, three. How would you get the word associated with the key 2?

**Exercise.** Enter the code

```
d = {'Donald': 'Duck', 'Mickey': 'Mouse', 'Donald': 'Trump'}

print(d)
```

What happened?

Exercise. Describe -- and explain if possible -- the output of these statements:

* list(names)?

* names.keys()?

* list(names.keys())?

* names.values()?

Exercise. Consider the dictionary

```
data = {'Year': [1990, 2000, 2010], 'GDP':  [8.95, 12.56, 14.78]}

```

What are the keys here? The values? What do you think this dictionary represents?

### Boolean Operations

Basic idea, make a comparison and the result is a `true` or `false` value. We call these bools...

In [ ]:
test = 1 < 0 # This is a comparsition, value 1 versus zero....
print(test) # What does it return a True or False value...
print(type(test))

**KEY** Note the the type, its a bool or short for Boolean.

Here are some more operations...bool's can be combined with integers and floats...

In [19]:
print(2*test)

# Now what if we had 1 < 0 above, what would the command return... note that it will
# give a zero... so what is going on here is implicitly with a True is the value 1
# and associated with the value False is a zero (note how in the background there is
# probably a dictionary doing this....)



test1 = 0.666666666666666666 # This is interesing, when are they equall...
test2 = 2/3
print(test1 == test2)

0
True

Some more operations... == is equal, >= greater than or equals, <= less than
or equals, != not equals. Keep these in mind. There are also other ways to take the oppisite value by using the `not` built-in

In [21]:
test = not 1 > 0 # this is not whatever 1 > 0 is, so not True which is FALSE
print(test)

False
x greater than y is False

Then notice what happens when we print a statement...

In [22]:
x = 2*3
y = 2**3
print('x greater than y is', x > y)

x greater than y is False

**Exercise.** What is 2 >= 1? 2 >= 2? not 2 >= 1? If you're not sure, 
try them in the IPython console and see what you get.

**Exercise.** What is
```
print(2 + 2 == 4) 

print(1 + 3 != 4) 
```

Explain what is going on here....

In [24]:
print(2 + 2 == 4) 

print(1 + 3 != 4)

True
False

**Exercise** What is 
```
print("sarah" == 'Sarah')
```

In [23]:
print("sarah" == 'Sarah')

False

Exercise. What do these comparisons do? Are they true or false? Why?

In [26]:
print(type('Sarah') == str) # IS it a string? YES!!! 
print(type('Sarah') == int) # IS it an integer??? NO!
print(len('Sarah') >= 3) # Is the length longer than three? YES!

True
False
True

In [30]:
name1 = 'Chase'
name2 = 'Spencer'
check =  name1 > name2
print("Is Chase > Spencer ",check) #hmmmm....

Is Chase > Spencer  False

https://stackoverflow.com/questions/4806911/string-comparison-technique-used-by-python

Here is the quick run down, this does this thing in lexicographic ordering... this means: First the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared,
and so on, until either sequence is exhausted. What determines the order...in this case note that "S" comes **later** in the alphabet than "C" thus is has a larger "value", thus "Chase > Spencer" is false.

When comparing uppercase vs. lower case, uppercase come before lower case...The stuff like ```*&``` come before. How do I know exactly what is going on... here is a link to the unicode point ordering

https://en.wikipedia.org/wiki/List_of_Unicode_characters

And scroll down to the Latin Script /Basic Latin table there. There there is a number for each possible character. To see the number just type `ord("z")` and note how this should give back the value 122 and then look in the table it should have the value 122. In the comparison above, what it is doing is taking the number in this table for the given character and then comparing it to the number for the other character.

In [31]:
"z" > "a"

True

In [35]:
ord("!")

33

## Conditional (If/then)

Now that we know how to tell whether a comparison is true or false, we can build that into our code. "Conditional" statements allow us to do different things depending on the result of a comparison or Boolean variable, which we refer to as a condition. The logic looks like this:

* if a condition is true, then do something.

* if a conditions is false, do something else (or do nothing).

In [36]:
if 1 > 0: # this statment checks the value, then IF TRUE it advances to the next line
    print("1 is greater than 0") # here where it prints the value
    print("test")

1 is greater than 0
test

Key issue, an if must always be followed by : and then the next line or lines associated with the if statement must be indicated by 4 spaces. ONLY 4 spaces, Jupyter will do this automatically....there is also some kind of debate about spaces or tabs...here is some interesting info if you need to choose:

https://stackoverflow.blog/2017/06/15/developers-use-spaces-make-money-use-tabs/

In [38]:
 x = 5               # we can change this later and see what happens

if x > 6:
    print('x =', x)

print('Done!')

Done!

In [39]:
x = 7

condition = x > 6

if condition:
    print('if branch')             # do if true
    print(condition)
else:
    print('else branch')           # do if false
    print(condition)

if branch
True

**Exercise.** Take the names name1 and name2, both of them strings. Write a program using if and else that prints the name that comes first in alphabetical order.  Test your program with name1 = 'Dave' and name2 = 'Glenn'.

In [47]:
name1 = "dave" # make Dave dave, how to we fix the puctuation...
name2 = "Glenn"

if name1 < name2:
    print(name1)
else:
    print(name2)

Glenn

**Exercise** Make it insensitive to capitalization...

### Slicing

This is an important to be confortable with. When we start to work with Pandas (the data package), slicing will be a key skill to "slice" the data in the way that we want. For now we will work with strings and lists

In [1]:
a = "some"
print([a[0], a[1], a[2]])

# Note how it is treating the string just like a list (remember python starts from 0)
# so we are calling each individual character...

['s', 'o', 'm']

In [2]:
a[1] = "*"  # can we re-assgin? # no...its like a tuple where the object is immutable.
print(a)

TypeError: 'str' object does not support item assignment

One of the interesting things about this is that there are both a **forward** counter and a **backward** counter. Here is an example:

In [4]:
print(a[-3]) # this should give an o, so 0 is s, -1 is e, -2, is m...
#print(a[-400]) # But it will not do this infinitly, it will do this untill it returns
# back to s or -4,

o

**Exercise** Take the string firstname = 'Monty' and write below it the forward and backward 
counting conventions. What integer would you put in square brackets to extract 
the third letter (n) under each system?

**Exercise.** Find the last letter of the string lastname = 'Python'. Find the second 
to last letter using both the forward and backward counting conventions.

**Exercise.** Take the list numberlist = [1, 5, -3]. Use slicing to set a variable 
first equal to the first item. Set another variable last equal to the last item. Set a third variable named middle equal to the middle item.

Now how do we pull groups of objects out of a data structure. We use the `:` operator. What this does is when we have say `[0:2]` this will pull out the first element AND everything after it NOT including the object in the second position. That is the value after the colon is not included. LEts see this...

In [6]:
c = 'something'

print('c[1] is', c[1]) # We know this...
print('c[1:2] is', c[1:2]) # This says take between 1 and 2 NOT including 2 (so same as above)
print('c[1:3] is', c[1:3]) # This says take between 1 and 3 NOT including 3
print('c[1:] is', c[1:]) # This says give from postion 1 onward so omething...if -1?
print('c[1:-1] is', c[1:-1]) # This works, again, from postion 1 and -1 NOT including -1, so oemthin

c[1] is o
c[1:2] is o
c[1:3] is om
c[1:] is omething
c[1:-1] is omethin

**Exercise.** Set lastname = 'Python'. Extract the string 'thon'.

**Exercise.** Set numlist = [1, 7, 4, 3]. Extract the middle two items and assign 
them to the variable middle.

**Exercise.**

- Extract all but the first item and assign them to the variable allbutfirst. 

- Extract all but the last item and assign them to the variable allbutlast.

**For LOOP** As with the conditional operation, this is a key skill. In particular, it allows for us to scale up the number of operations without having to constantly write code to perform each one. 

The book has some examples, but let me suggest one that I see all the time...suppose you have bunch of datasets. How to you read them in. Use a for loop. So you create a list of the names of the data sets, then you work through the list and read each one it. What the for loop allowed you to do is for a small change in your code you have scaled your operation by however much.

In [ ]:
namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']    # creates the list "namelist"
# below, the word "item" is arbitrary. End the line with a colon.

for item in namelist:    # goes through the items in the list one at a time
   print(item)    # indent this line exactly 4 spaces
# if there is code after this, we'd typically leave a blank line in-between

One thing to notice were what is `item` its a place holder. The specific name `item` has no attachment to anything, all it says is that as it works through each object in the list, its temporary name will be `item`. Here, try this change `item` to `bloob` and see what happens.

Here is a numerical calculation...this is common in scientific computing...

In [8]:
numlist = [4, -2, 5]
total = 0

for num in numlist:
    total = total + num

print(total)

7

Now here is a string.

In [ ]:
word   = 'anything'
for letter in word:
    
    print(letter)

Note how general this is. The key issue is that as long as the for loop is over an "itteratable" object, then this this will work. Ask your self, what itterable objects do we know.

Now this example below combines the for loop and a conditional

In [9]:
vowels = 'aeiouy'
word   = 'anything'

for letter in word:
    
    if letter in vowels:
        
        print(letter)

a
y
i

**Exercise.** Take the list `stuff = ['cat', 3.7, 5, 'dog']`.

- Write a program that prints the elements of stuff.
- Write a program that tells us the type of each element of stuff.
- Challenging. Write a program that goes through the elements of stuff and prints only the elements that are strings; that is, the print the elements where function type returns the value str.

**Exercise** Consider the dictionary `names = {'Dave': 'Backus', 'Chase': 'Coleman', 'Spencer': 'Lyon', 'Glenn': 'Okun'}` how can we itterate over the keys and print out the values?

In [20]:
names = {'Dave': 'Backus', 'Chase': 'Coleman', 'Spencer': 'Lyon', 'Glenn': 'Okun'}

name_keys = list(names.keys())

for item in names:
    
    print(item, names[item])

Dave Backus
Chase Coleman
Glenn Okun
Spencer Lyon

**Exercise.** Consider the list `namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']`. 

Write a loop that goes through the list until it reaches a name than begins with the letter S. At that point it prints the names and exits the loop.

### Loops over Ranges

I think this is less important in data work. We neeed to know it though, so lets work through it. The firs thing to lean is the type `range`

In [21]:
range?

In [27]:
my_first_range = range(0,10,2)

In [28]:
type(my_first_range)

range

In [29]:
print(list(my_first_range))

[0, 2, 4, 6, 8]

In [31]:
for number in range(1,5,2):     # the variable "number" can be anything
    
    print(number)

1
3

In [32]:
for number in range(1, 11):
    square = number**2
    
    print('Number and its square:', number, square)

Number and its square: 1 1
Number and its square: 2 4
Number and its square: 3 9
Number and its square: 4 16
Number and its square: 5 25
Number and its square: 6 36
Number and its square: 7 49
Number and its square: 8 64
Number and its square: 9 81
Number and its square: 10 100

### List Comprehension

Basic idea we can create **lists** using implicit loops that we refer to as list comprehensions. This is incredibly useful and shows up a lot in Python code. 

Lets first remind our selves what a loop is doing

In [34]:
namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']
for item in namelist:
    
    print(item)

Chase
Dave
Sarah
Spencer

In [35]:
[print(item) for item in namelist]

Chase
Dave
Sarah
Spencer

[None, None, None, None]

Notices what this is doing:
- First there are the square brackets, this means we are creating a NEW LIST
- then after the operation on the "item" we describe the for operation, so do "x" on "x" in the list

Lets see some examples:

In [38]:
fruit = ['apple', 'banana', 'clementine'] # A list...

FRUIT = [item.upper() for item in fruit] 

print(FRUIT)

['APPLE', 'BANANA', 'CLEMENTINE']

We can also apply conditions within list comprehensions

In [39]:
fruit6 = [item for item in fruit if len(item)<=6]

In [40]:
fruit6

['apple', 'banana']

**Exercise.** Take the list fruit and create a new list with the first letter capitalized. Hint: What method would you use to capitalize a string?

**Exercise.** Take the list of growth rates g = [0.02, 0.07, 0.07]. Write a list comprehension that multiplies each element by 100 to turn it into a percentage.

**Exercise.** Take the mixed type list `[True, "2", 3.0, 4]` and create a new list of the associated types.

### Functions

The key idea here is that rather than repeating the same lines of code over and over again. We can create a function that performs some distinct operation. This is a good strategy for a lot of reasons, (i) efficient in terms of writing code (ii) it facilitates easy to read code (iii) avoids any debuging issue that may arise when you have to modify multiple lines of code in the same exact way (just change the code in the function). Finally, it will give us insight to what is behind various packages that we will be using in the future...what are they just a collection of functions!

In [6]:
def hello(firstname):               # define the function
    print('Hello,', firstname)

A couple of things:
 
 - Similar syntax to for loops, if statements. Here we start with def (short for definition), then we create the name of the function and then any inputs...
 
 - Four spaces for all operations preformed by the function. If it does not have four spaces, it is not recognized as part of the function.
 
One more thing. We have only have to run this code cell once. Once we do so the function is in the namespace and is good to go.

In [2]:
hello('Chase')

Hello, Chase

In [5]:
hello([1,2,3])

Hello, [1, 2, 3]

In [7]:
whos

Variable   Type        Data/Info
--------------------------------
hello      function    <function hello at 0x0000008DE1CFC378>

This shows us that the function is there and available.

Returning to the function above, how would I modify it to return a different message if firstname is not a string?

Now sometimes we want the function to return a value...this is how we do it.

In [17]:
def squareme(number):
    """
    Takes numerical input and returns its square
    """
    return number**2, number        # this is what the function sends back

In [23]:
x, y = squareme(2)

In [25]:
y

2

In [26]:
def value_one():               # define the function
    return 1.0

In [27]:
value_one()

1.0

In [28]:
max?

In [ ]:
def combine(first, last):
    """
    Takes strings 'first' and 'last' and returns new string 'last, first'
    """
    lastfirst = last + ', ' + first
    return lastfirst                    # this is what the function sends back

both = combine('Chase', 'Coleman')      # assign the "return" to both
print(both)

- **Exercise.** Create and test a function nextyear that takes an integer year (say 2015) and returns the following year (2016).

- **Exercise.** Create and test a function that takes a string year (say, '2015') and returns a string of the next year (say, '2016').

- **Exercise.** Write a function that extracts the last letter from a string

- **Exercise.** Use the function above and write a program so that last letter of each item in the list names = ['Chase', Dave', 'Sarah', 'Spencer'] is printed

- Bonus (optional): Print the last letter only if it's a vowel.

**Note lets practice this stuff on the [POE Poem](https://github.com/mwaugh0328/data_bootcamp_spring_2018/blob/master/week3/poe_poem.ipynb)**