## Reading in Data 

This is a key step. It's actually quite easy...

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

Above we have our packages, the `os` one is new. It allows us to get information about our computer, and most importantly information about the path, current working directory etc.

### Grabbing stuff from the web. 

First, this is the ideal way to go. Why? The key issue is that by just pointing to where it is stored anyone can go there and replicate, exlpore your results. In other words, everyone is working off of the same dataset or "gold plates" as I like to call it. In contrast, you may have data on your local computer, change it, save it. Then when if you try and do the same calculations on the data, you won't replicate your results. Why? You changed the data!

This is actually a big issue for companies: [see here](https://www.wsj.com/articles/stop-using-excel-finance-chiefs-tell-staffs-1511346601)

Great! How do I do it...here's how:

In [27]:
url1 = "https://raw.githubusercontent.com/NYUDataBootcamp"

url2 = "/Materials/master/Data/test.csv"

url  = url1 + url2        # location of the file on the www

df = pd.read_csv(url)     # read file and assign it to df

In [28]:
df

      name  x1  x2   x3
0     Dave   1   2  3.5
1    Chase   4   3  4.3
2  Spencer   5   6  7.8

So simple and clean. Very nice. Let's explore some more: Explore the help?

In [5]:
df_only2 = pd.read_csv(url, nrows = 2)

df_only2

    name  x1  x2   x3
0   Dave   1   2  3.5
1  Chase   4   3  4.3

Then this is cool too, set certain values to be read in as NaN (not a number)

In [6]:
df_notone = pd.read_csv(url, na_values = 1)

df_notone

      name   x1  x2   x3
0     Dave  NaN   2  3.5
1    Chase  4.0   3  4.3
2  Spencer  5.0   6  7.8

Now lets read in a different type of file an excel file

In [7]:
url3 = "/Materials/master/Data/test.xls"
url = url1 + url3

df_excel = pd.read_excel(url, na_values = 1) # Simmilar funcitonality!

df_excel

      name  x1  x2   x3
0     Dave   1   2  3.5
1    Chase   4   3  4.3
2  Spencer   5   6  7.8

- **Exercise.** Modify the code above, so it reads in the file `test0.csv` What happens?


- **Exercise.** Delete the 0 in test0 and rerun the code. What happens if you add the argument index_col=0 to the read_csv statement? How does df change?


- **Exercise.** In the read_excel code, change the file extension at the end of url2 from .xls to .xlsx. What does the new code produce?


- **Exercise.** Adapt the read_csv code to treat the numbers 1 and 6 as missing. Hint: See the example a page or so back.

### Reading in data from your computer...

This is important to know how to do as well. As you can imagine its useful all the time. It can be also helpful in the case that (i) you don't have internet access and (ii) for big data sets reading stuff on the web all the time might be slower that just reading in a local copy. So as you work on your projects, working off a local copy to experiment and play is not a bad idea.

First, lets write the data to a file

In [29]:
df.to_csv("df.csv")

df.to_excel("df.xlsx")

df.to_excel("df.xls")

Next question? **WHERE IS THE DATA**

With those commands it wrote this to your working directory. What does that mean, the folder that you are working in. Where is that...
- First, in jupyter just got to your browser window from which you opened a new notebook. It should be open in the folder that you started from (which is your working directory). Look there. See the files.


- Second, in python, we can find this out as well but using the os command..

In [23]:
my_path = os.getcwd()
my_path

'C:\\data_bootcamp\\data_bootcamp_spring_2018\\week5'

A couple of things about this: This should seem kind of familiar. In a PC, there is a difference it will show ``\\`` double backslashes...not the typical single backslash. **ON A MAC IT WILL BE YOUR STANDARD FOWARD SLASH**

Now lets use the path to write the data as well

In [24]:
df.to_csv(my_path + "\\"+"df1.csv")

df.to_excel(my_path + "\\"+"df1.xlsx")

df.to_excel(my_path + "\\"+"df1.xls")

Now read it in...

In [35]:
df_new = pd.read_excel("df1.xlsx")

In [36]:
df_new

      name  x1  x2   x3
0     Dave   1   2  3.5
1    Chase   4   3  4.3
2  Spencer   5   6  7.8

Now lets read it in with the complete path:

In [39]:
df_new = pd.read_excel(my_path + "\\" + "df1.xlsx")

df_new

      name  x1  x2   x3
0     Dave   1   2  3.5
1    Chase   4   3  4.3
2  Spencer   5   6  7.8

**Exercise** 
- Create a folder from the "home interface of jupyer"
- write the data frame to that folder
- read in the data from that folder

### Lets Practice

In [46]:
url = "http://www.rug.nl/ggdc/docs/pwt81.xlsx"                   # Here is the correct link
   
pwt = pd.read_excel(url, sheet_name=2)

Excercise
- What is its shape?
- What are the column names?
- Download the worksheet as an excel file (just past the link in the browser) What does it look like?
- Exercise. Change the input in the last line of code to sheet_name=2. Why does this work?

In [48]:
pwt.shape

(10357, 47)